@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
}

.container {
    width: 450px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 10px 0px;
    filter: drop-shadow(0.25px 2px 5px rgb(83, 83, 83));
}

.container img {
    width: 400px;
    border-radius: 30px;
}

.container h1,
.container p {
    text-align: center;
}

.container p {
    font-size: 15px;
}